# Some notes on the checks down below. This has to be up here because
# if it is put directly next to the checks, it breaks the parser somehow.
#
# - readability-identifier-length
#
#   this check enforces a minimum of 3 characters for variable names which
#   unfairly rejects common short identifiers like i, j, n, m, p, and k making
#   the rule more annoying than useful.
#
Checks:
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,

  -hicpp-member-init,
  -hicpp-explicit-conversions,

  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-use-enum-class,

  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,

  -misc-non-private-member-variables-in-classes,

  -bugprone-easily-swappable-parameters

UseColor: true
WarningsAsErrors: "*"
FormatStyle: "file"
HeaderFilterRegex: "chester"
